body {
    color: rgb(58, 29, 29);
}

@media screen and (max-width:500px) {
    .desktop {
        display: none;
    }
   .hero-btn {
        position: absolute;
        bottom: 15%;
        left: 35%;
    }
}