body {
    color: rgb(58, 29, 29);
}

@media screen and (max-width:500px) {
    .desktop {
        display: none;
    }
    .hi3 {
        position:absolute;
        top: -100px;
        margin-bottom: -50px;
    }
}