body,html {
    scroll-behavior: smooth;
    background-color: #26a69a;
}

.light {
    background-color: rgb(231, 224, 224);
    background-color: #78c4ce;
}
.hero {
    background-color: #78c4ce;
}
h5 {
    color: #444;
}
h1 {
    color: #444;
    font-size:30px;
}
.hi2 {
    width: 25%;
    height: 25%;
    position: relative;
    left: 35%;
}

.hi4 h5 {
    font-size :20px;
}

#over-img {
    color: #444;
}

.row-3 {
    background-color: rgb(27, 17, 17);
}

.pint {
    background-color: #eab99c;
} 
.nav-right {
    position:absolute;
    right:0;
}

.navs-right {
    position:relative;
    bottom:90px;
    left:760px;
    width:10%;
    height:10%;

}
.mid-section {
    margin-top: 10px;
}

.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
 
  .page-footer {
     background-color: #26a69a;
  } 

.s4 {
    margin-top: 5vh;
}

/* ---------Parralax --------------- */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }


 
/*  @media only screen and (max-width : 992px) {
   .parallax-container .section {
    
     
   }
   #index-banner .section {
    
   }
 } */
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
@media screen and (min-width:992px) {
    .low-res {
        display: none;
    }
}
